[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pandas = "*"

[packages]
elex-versions = {editable = true,git = "https://github.com/mikejcorey/elex.git",ref = "versions"}
awscli = "*"
requests = "*"
pandas = "*"
boto3 = "*"

[requires]
python_version = "3.7"
